{% extends 'base.html.twig' %}

{% block body %}
    <div>{{ author }}</div>
    <hr/>
    <div>Count post : {{ count.post }}</div>
    <div>Count comment : {{ count.comment }}</div>
    <hr/>
    {% for post in posts %}
        {% include 'blog/post/_list.html.twig' with { post: post } only %}
    {% endfor %}
{% endblock %}
